// COLORS
$bg-color-white : #ffffff;
// $bg-color-mint: #d8f0e3;
$bg-color-mint: #f77b72;
$bg-color-pink: #f3d0c7;

$text-color: #000000;
$text-color-gray: #878787;
$color-white: #fbf9f9;

$border-color-pink: #e1c0b0;
$aside-menu: #ee2852;

$shadow: #d5d5d5;



//TYPOGRAPHY
$main-font: 'Mulish', sans-seri;
$italic-font: 'Playfair Display', serif;

$font-size--normal: 16px;
$font-size-small: 13px;
$font-size-medium: 20px;
$font-size-large: 36px;
$font-size-x-large: 42px;

