// COLORS
$bg-color-white : #ffffff;
$bg-color-mint: #c0e1cf;
$bg-color-pink: #f3d0c7;

$text-color: #000000;
$text-color-gray: #878787;
$color-white: #fbf9f9;

$border-color-pink: #e1c0b0;
$aside-menu: #ee2852;

$shadow: #d5d5d5;



//TYPOGRAPHY
$main-font: 'Amiko', sans-serif;
$italic-font: 'Playfair Display', serif;

