@use './partials/variables' as *;

$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import '@fontsource/amiko/index.css'; 
@import '@fontsource/amiko/400.css';
@import '@fontsource/amiko/600.css';
@import '@fontsource/amiko/700.css';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid red;
}
body{
    font-family: $main-font;
}
section{
    margin-bottom: 5rem;
}
h2{
    font-size: 3rem;
    font-weight: lighter;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;

    li a{
        text-decoration: none;
        color: $text-color;
    }
}
.container{
    width: 60%;
    margin: 0 auto;
    // border: 1px solid red;
}
.font-italic{
    font-family: $italic-font;
    font-weight: 900;
}
.btn{
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: .10rem;
    border: none;
    color: $text-color;
}